<section id="portfolio" class="py-24 px-6 bg-purple-200/35 flex flex-col items-center">

    <!-- Titolo -->
    <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-16 text-gray-900 text-center">
        Progetti
    </h2>

    <!-- GRID -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 w-full max-w-7xl ">

        <!-- CARD -->
        <a href="https://leti74.github.io/Progetto-Angular-di-Letizia-Marra/" target="_blank"
            class="group relative overflow-hidden rounded-3xl shadow-md hover:shadow-2xl transition-all duration-500">

            <img src="assets/img/nttdata.png"
                class="w-full h-72 sm:h-80 object-cover object-center transition-transform duration-700 group-hover:scale-110 ">

            <!-- overlay base scuro -->
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- overlay contenuto -->
            <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6
                bg-black/70
                opacity-100 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100
                transition-all duration-500">

                <h3 class="text-white text-lg sm:text-xl lg:text-2xl font-bold mb-2">
                    User Dashboard
                </h3>

                <p class="text-white text-sm sm:text-base">
                    Dashboard interattiva (Angular)
                </p>
            </div>
        </a>

        <!-- CARD -->
        <a href="https://progetto-covid19-2026.web.app/dashboard" target="_blank"
            class="group relative overflow-hidden rounded-3xl shadow-md hover:shadow-2xl transition-all duration-500">

            <img src="assets/img/covid.png"
                class="w-full h-72 sm:h-80 object-cover object-center transition-transform duration-700 group-hover:scale-110">

            <div class="absolute inset-0 bg-black/40"></div>

            <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6
                bg-[#d780ff]/70
                opacity-100 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100
                transition-all duration-500">

                <h3 class="text-white text-lg sm:text-xl lg:text-2xl font-bold mb-2">
                    Covid Dashboard
                </h3>

                <p class="text-white text-sm sm:text-base">
                    Dashboard dati interattivi(Angular)
                </p>
            </div>
        </a>

        <!-- CARD -->
        <a href="https://leti74.github.io/vegetarian-recipes/" target="_blank"
            class="group relative overflow-hidden rounded-3xl shadow-md hover:shadow-2xl transition-all duration-500">

            <img src="assets/img/ricette-veg.png"
                class="w-full h-72 sm:h-80 object-cover object-center transition-transform duration-700 group-hover:scale-110">

            <div class="absolute inset-0 bg-black/40"></div>

            <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6
                bg-black/70
                opacity-100 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100
                transition-all duration-500">

                <h3 class="text-white text-lg sm:text-xl lg:text-2xl font-bold mb-2">
                    Ricette Veg
                </h3>

                <p class="text-white text-sm sm:text-base">
                    Cerca ricette (React)
                </p>
            </div>
        </a>

        <!-- CARD -->
        <a href="https://leti74.github.io/category-book-finder/" target="_blank"
            class="group relative overflow-hidden rounded-3xl shadow-md hover:shadow-2xl transition-all duration-500">

            <img src="assets/img/book.png"
                class="w-full h-72 sm:h-80 object-cover object-center transition-transform duration-700 group-hover:scale-110">

            <div class="absolute inset-0 bg-black/40"></div>

            <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6
                bg-[#d780ff]/70
                opacity-100 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100
                transition-all duration-500">

                <h3 class="text-white text-lg sm:text-xl lg:text-2xl font-bold mb-2">
                    Book Finder
                </h3>

                <p class="text-white text-sm sm:text-base">
                    Cerca libri (JavaScript)
                </p>
            </div>
        </a>

        <!-- CARD -->
        <a href="https://progetto-angular-a758e.web.app" target="_blank"
            class="group relative overflow-hidden rounded-3xl shadow-md hover:shadow-2xl transition-all duration-500">

            <img src="assets/img/frutti.png"
                class="w-full h-72 sm:h-80 object-cover object-center transition-transform duration-700 group-hover:scale-110">

            <div class="absolute inset-0 bg-black/40"></div>

            <div class="absolute inset-0 flex flex-col justify-center items-center text-center px-6
                bg-black/70
                opacity-100 sm:opacity-100 lg:opacity-0 lg:group-hover:opacity-100
                transition-all duration-500">

                <h3 class="text-white text-lg sm:text-xl lg:text-2xl font-bold mb-2">
                    App Frutta
                </h3>

                <p class="text-white text-sm sm:text-base">
                    Cerca frutti (Angular)
                </p>
            </div>
        </a>

    </div>
</section>