<footer class="bg-black/90 text-white py-8 px-6">

    <div
        class="max-w-5xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6 text-center md:text-left">

        <!-- Nome / Brand -->
        <div>
            <h3 class="text-lg font-semibold">Letizia Portfolio</h3>
            <p class="text-sm text-[#d780ff]">
                Web Design & Front-End Developer
            </p>
        </div>




        <!-- Social -->
        <div class="flex gap-4 text-xl">
            <a href="https://github.com/leti74" target="_blank">
                <img src="assets/icons/icon-linkedin-bianco.png" alt="linkedin" class="w-8">
            </a>
            <a href="https://github.com/leti74" target="_blank">
                <img src="assets/icons/icon-github-bianco.png" alt="github" class="w-8">
            </a>

        </div>

    </div>

    <!-- Linea separazione -->
    <div class="border-t border-white mt-6 pt-4 text-center text-sm text-purple-200">
        © 2026 Letizia
    </div>

</footer>