<section id="qualita" class="py-20 px-6 bg-purple-200/35 text-center flex flex-col items-center">

    <!-- Titolo -->
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-16 text-gray-900">
        Qualità
    </h2>

    <!-- Container -->
    <div class="flex flex-wrap justify-center gap-10 w-full max-w-6xl">

        <!-- Card 1 -->
        <div class="bg-white shadow-lg rounded-2xl p-8 flex flex-col items-center w-full sm:w-70 md:w-75">

            <img src="assets/icons/creative.png"
                class="w-24 h-24 md:w-28 md:h-28 mb-6 transition-transform duration-300 group-hover:scale-110">

            <h3 class="text-xl md:text-2xl font-semibold mb-3 text-[#d780ff]">
                Creatività
            </h3>

            <p class="text-gray-700">
                Guardare ogni cosa e vedere potenzialità.
            </p>
        </div>

        <!-- Card 2 -->
        <div class="bg-white shadow-lg rounded-2xl p-8 flex flex-col items-center w-full sm:w-70 md:w-75">

            <img src="assets/icons/intuitive.png" class="w-24 h-24 md:w-28 md:h-28 mb-6">

            <h3 class="text-xl md:text-2xl font-semibold mb-3 text-[#d780ff]">
                Precisione
            </h3>

            <p class="text-gray-700">
                Curare ogni dettaglio senza compromessi.
            </p>
        </div>

        <!-- Card 3 -->
        <div class="bg-white shadow-lg rounded-2xl p-8 flex flex-col items-center w-full sm:w-70 md:w-75">

            <img src="assets/icons/openmind.png" class="w-24 h-24 md:w-28 md:h-28 mb-6">

            <h3 class="text-xl md:text-2xl font-semibold mb-3 text-[#d780ff]">
                Innovazione
            </h3>

            <p class="text-gray-700">
                Proporre soluzioni nuove e originali.
            </p>
        </div>

    </div>

</section>