<section id="futuro" class="py-24 px-6 bg-white flex justify-center">

    <div class="max-w-5xl w-full text-center">

        <!-- Titolo -->
        <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-12">
            Per il futuro
        </h2>

        <!-- Card contenuto -->
        <div class=" text-center space-y-6 p-3 leading-relaxed">

            <p class="text-gray-700 text-lg">
                Durante il mio percorso ho affinato le mie capacità, diventando sempre più consapevole
                dell'importanza delle competenze informatiche nell'ambito della mia passione: il design.
            </p>

            <p class="text-gray-700 text-lg">
                Ho scoperto il mondo della programmazione web, al quale mi sono indirizzata
                spontaneamente durante la scelta del mio percorso lavorativo.
            </p>

            <p class="text-gray-700 text-lg p-3">
                Ho acquisito competenze che spaziano tra mondi diversi:
                <span class="text-[#d780ff] font-semibold">creatività</span> e
                <span class="text-[#d780ff] font-semibold">programmazione</span>.
            </p>




            <p class="text-lg md:text-xl font-medium">
                Il mio obiettivo è unire design e sviluppo per creare esperienze
                digitali significative e innovative.
            </p>



        </div>

    </div>

</section>